@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700|Raleway:300,400,500,600');

/*-------------------------------------------------------------- Body Section */
html, body {
    font-family: 'Open Sans', sans-serif;
    
}

/*-------------------------------------------------------------- Home Section */
/*--- Navigation */
.bg-dark {
    background-image: linear-gradient(to right, #505c70, #050517);
}
.navbar-brand img {
    height: 50px;
}
.navbar-brand img:hover {
    opacity: 0.8;
}
.nav-item {
    padding: 0 15px;
    text-transform: uppercase;
}
.dropdown-menu, .dropdown-item:hover  {
    background-color: #b8c2d3;
}
.menu-item {
    padding: 5px 10px;
}
.navbar-toggler:focus {
    outline: none;
}
/*--- Banner */
.banner {
    background-image: linear-gradient(to right, #505c70, #050517);
    color: #d3d5d7;
    padding: 150px 50px;
}

.banner-heading-large {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 5px #000;
    padding: 30px 5px 5px;
}
.banner-heading-small {
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #000;
    padding-bottom: 20px;
    color: #edbb5f;
}
.banner-text {
    font-size: 13px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-bottom: 25px;
}
.banner-img {
    width: 90%;
    margin-bottom: 50px;
}
.btn-outline-secondary {
    border-radius: 50px;
    font-size: 12px;
    width: 120px;
    border-width: 1px;
    text-transform: uppercase;
    margin: 10px;
}
.btn:hover, .btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn:hover {
    color: #050517;
    background-color: #d3d5d7;
    border-color: #d3d5d7;
}
/*------------------------------------------------------------- About Section */
.heading-large:after {
    content: '';
    display: block;
    width: 100px;
    border: 2px solid #b40101;
    margin: 15px auto;
}
.heading-large {
    padding: 50px 10px 40px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.about-text {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #4d4d4d;
    padding: 10px 20px 30px;
    font-weight: 400;
}
.jumbotron-styled {
    padding: 100px 0;
    border-radius: 0;
}
.member-img {
    width: 50%;
}
.name {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 25px 10px 0px;
    word-spacing: 2px;
}
.title {
    color: #4d4d4d;
    text-transform: uppercase;
}
.fa-quote-left {
    color: #b40101;
    font-size: 30px;
    padding-top: 20px;
}
.quote {
    font-size: 18px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    word-spacing: 2px;
}
.indicators-styled {
    bottom: -70px;
}
.indicators-styled li {
    background-color: rgba(5, 5, 23, 1);
}
.indicators-styled .active {
    background-color: rgba(5, 5, 23, 0.5);
}
/*-------------------------------------------------------------- Tour Section */
.tour-container {
    margin-top: 70px;
}
.tour-info div {
    margin: 20px auto;
}
.dates {
    width: 100px;
    height: 100px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #505c70, #050517);
    color: #edbb5f;
    font-size: 14px;
    padding-top: 8px;
    margin: 0 auto;
   -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
}
.dates span {
    font-size: 26px;
}
.btn-more-info {
    width: 250px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 100px auto 50px;
    padding: 15px;
    display: block;
    background-color: #d3d5d7;
    color: #050517;
}
.btn-more-info:hover {
    background-color: #050517;
    color: #d3d5d7;
    border-color: #050517;
}
.btn-red, .btn-green {
    border-radius: 50px;
    width: 135px;
    padding: 7px 5px;
}
.btn-red:hover {
    background-color: #b40101;
    color: #d3d5d7;
    border-color: #b40101;
}
.btn-green:hover {
    background-color: green;
    color: #d3d5d7;
    border-color: green;
}
/*------------------------------------------------------------- Media Section */
#media {
    background-image: url('/assets/images/string-background-image.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.media-bg-overlay {
    background-color: rgba(0,0,0,0.8);
}

/*--- Audio */
#audio {
    padding-top: 80px;
    color: #d3d5d7;
}
.album-cover {
    width: 300px;
    margin: 15px auto;
    display: block;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
}
.album-title {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}
.album-title span {
    background-color: #edbb5f;
    color: #050517;
    text-transform: uppercase;
    margin-top: 15px;
}
.badge {
    font-size: small;
}
.album-description {
    font-size: 12px;
    word-spacing: 1px;
    width: 300px;
    margin: 10px auto;
}
.hr-styled {
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 25px;
}
.song-title {
    font-size: 14px;
    letter-spacing: 1px;
    color: #cecece;;
}
.mark {
    text-transform: uppercase;
    margin-left: 5px;
    font-size: 10px;
}
.audio {
    height: 30px;
    width: 270px;
    display: block;
    border-radius: 5px;
}
.btn-album-buy {
    margin-top: 30px;
    width: 120px;
    text-transform: uppercase;
}

/*--- Video */
#video {
    background-color: rgba(119,119,119,0.2);
    color: #d3d5d7;
    padding-bottom: 40px;
}
.video-container {
    margin-bottom: 40px;
}
.video-title{
    font-size: 20px;
    margin-left: 5%;
    padding-left: 0;
}
.video-player {
    object-fit: inherit;
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0px auto;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
}
/*--- Photos */
#photos {
    padding-top: 50px;
    margin-bottom: 50px;
    color: #d3d5d7;
}
.gallery-img-1, .gallery-img-2, .gallery-img-3 {
    width: 320px;
    height: 220px;
    margin: 10px auto;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,1);
}
.photos-container {
    margin-bottom: 50px;
}
/*----------------------------------------------------------- Book Us Section */
.booking-container {
    width: 90%;
}
.booking-form {
    background-image: linear-gradient(to right, #bbbdc9, #5b5b5e);
    -webkit-box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.92); 
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.92);
    padding: 30px;
    border-radius: 5px;
}
.lead-styled {
    text-transform: capitalize;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 500;
   
}
.event-booking-text {
    font-size: 13px;
    word-spacing: 2px;
    margin-bottom: 40px;
}
.form-prompt-text {
    font-size: 14px;
}
.required-field {
    font-size: 12px;
}
/*------------------------------------------------------------ Footer Section */
.footer {
    background-image: linear-gradient(to right, #505c70, #050517);
    color: #d3d5d7;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.social-links a {
    text-decoration: none;
}
.fab {
    font-size: 18px;
    color: #d3d5d7;
    padding: 10px 10px;
    text-shadow: 1px 1px 5px #000;
}
.fab:hover{
    color: #a4a4a4;
}
.copyright {
    font-size: 12px;
    padding-top: 10px;
}
/*----------------------------------------------------- Media Queries Section */
@media screen and (min-width: 576px) {
    .btn-red, .btn-green {
        margin-top: 20px;
    }
    .booking-container {
        width: 80%;
    }
    .video-title {
        margin-left: 10%;
    }
    .video-player {
        width: 80%;
    }
    .gallery-img-1, .gallery-img-2, .gallery-img-3 {
        width: 400px;
        height: 300px;
    }
}
@media screen and (min-width: 768px) {
    .name {
        margin-top: 20px;
    }
    .quote-wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .quote {
       padding: 25px; 
    }
    .member-img {
        width: 70%;
    }
    .album-title {
        text-align: left;
        font-size: 28px;
        padding-top: 15px;
    }
    .album-description {
        margin-left: 0;
        font-size: 14px;
    }
    .booking-container {
        width: 60%;
    }
     .video-title {
        margin-left: 15%;
    }
    .video-player {
        width: 70%;
    }
}
@media screen and (min-width: 992px) {
    .booking-container {
        width: 50%;
    }
     .video-title {
        margin-left: 20%;
    }
    .video-player {
        width: 60%;
    }
}
