@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,700|Raleway:300,400,500,600');

/*-------------------------------------------------------------- Body Section */
html, body {
    font-family: 'Open Sans', sans-serif;
}
/*---------------------------------------------------------- Reusable Classes */
.section-top-padding {
    padding-top: 60px;  /* without the top padding main heading disappears behind the fixed navbar */
}
.text-spacing {
    letter-spacing: 1px;
    word-spacing: 2px;
}
.main-heading:after {
    content: '';
    display: block;
    width: 100px;
    border: 2px solid #b40101;
    margin: 12px auto;
}
.main-heading {
    padding: 30px 10px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.box-shadow {
    -webkit-box-shadow: 1px 1px 5px 0px rgb(0,0,0);
    -moz-box-shadow: 1px 1px 5px 0px rgb(0,0,0);
    box-shadow: 1px 1px 5px 0px rgb(0,0,0);
}
.bg-linear-gradient {
    background: linear-gradient(to right, #505c70, #050517);
    background: -webkit-linear-gradient(to right, #505c70, #050517);
    background: -moz-linear-gradient(to right, #505c70, #050517);
    background: -o-linear-gradient(to right, #505c70, #050517);
}
.btn:hover, .btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-custom-hover:hover {
    background: linear-gradient(to right, #d3d5d7, #73757a);
    background: -webkit-linear-gradient(to right, #d3d5d7, #73757a);
    background: -moz-linear-gradient(to right, #d3d5d7, #73757a);
    background: -o-linear-gradient(to right, #d3d5d7, #73757a);
    border-color: #6c757d;
    color: #050517;
}
/*-------------------------------------------------------------- Home Section */
/*--- Navigation */
.navbar {
    -webkit-box-shadow: 1px 1px 5px 0px rgb(0,0,0);/* Fallback color for browsers that do not support rgba*/
    -moz-box-shadow: 1px 1px 5px 0px rgb(0,0,0);/* Fallback color for browsers that do not support rgba*/
    box-shadow: 1px 1px 5px 0px rgb(0,0,0);/* Fallback color for browsers that do not support rgba*/
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
}
.navbar-brand img {
    height: 50px;
}
.nav-item {
    padding: 0 15px;
    text-transform: uppercase;
}
.menu-item {
    padding: 5px 10px;
}
.navbar-brand img:hover {
    opacity: 0.8;
}
.navbar-toggler:focus {
    outline: none;
}
.hvr-underline-from-center:before {
    background-color: #d3d5d7;
}
/*--- Banner */
.banner {
    color: #d3d5d7;
    padding: 100px 50px;
}
.banner-heading-large {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 1px 1px 5px #000;
    padding: 30px 5px 5px;
}
.banner-heading-small {
    text-shadow: 1px 1px 5px #000;
    color: #edbb5f;
}
.banner-text {
    font-size: 14px;
    padding: 25px 0 30px;
    font-weight: 300;
}
.banner-img {
    width: 90%;
    margin-bottom: 50px;
}
.btn-custom-styled {  
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    width: 120px;
    border-width: 1px;
    text-transform: uppercase;
    margin: 10px;
    color: #bfccd8;
    border-color: #bfccd8;
}

/*------------------------------------------------------------- About Section */
.about-text {
    font-size: 14px;
    line-height: 26px;
    color: #4d4d4d;
    padding: 10px 20px 30px;
    font-weight: 400;
}
.jumbotron-custom-styles {
    padding: 40px 0 80px;
    border-radius: 0;
}
.member-img {
    width: 50%;
}
.member-name {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 25px 10px 0px;
    word-spacing: 2px;
}
.member-title {
    color: #4d4d4d;
    text-transform: uppercase;
}
.fa-quote-left {
    color: #b40101;
    font-size: 29px;
    padding-top: 20px;
}
.quote {
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    word-spacing: 2px;
}
.indicators-custom-style {
    bottom: -70px;
}
.indicators-custom-style li {
    background-color: rgb(5, 5, 23);
}
.indicators-custom-style .active {
    background-color: rgb(5, 5, 23);
    opacity: 0.5;
}
/*---CREDIT: I changed the colour of controls using the code provided here: */
/*---https://stackoverflow.com/questions/49391266/change-bootstrap-4-carousel-control-colors */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23050517' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23050517' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/*-------------------------------------------------------------- Tour Section */
.tour-container {
    margin-top: 30px;
}
.tour-info div {
    margin: 5px auto;
}
.calendar-date {
    width: 100px;
    height: 100px;
    text-transform: uppercase;
    border: 1px solid #050517;
    color: #343a40;
    font-size: 14px;
    padding-top: 8px;
    margin: 0 auto;
    -webkit-box-shadow: 1px 1px 5px 0px rgb(0,0,0);/* Fallback color for browsers that do not support rgba*/
    -moz-box-shadow: 1px 1px 5px 0px rgb(0,0,0);/* Fallback color for browsers that do not support rgba*/
    box-shadow: 1px 1px 5px 0px rgb(0,0,0);/* Fallback color for browsers that do not support rgba*/
   -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
}
.date {
    font-size: 30px;
    font-weight: 600;
}
.venue {
    padding-top: 15px;
}
.btn-more-info {
    width: 300px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 50px auto;
    padding: 15px;
    display: block;
    background-color: transparent;
    color: #050517;
}
.btn-red, .btn-green {
    margin-top: 30px;
    font-size: 16px;
    border-radius: 50px;
    width: 135px;
    padding: 7px 5px;
}
.btn-green:hover {
    background: linear-gradient(to right, #a9f99d, #28a745);
    background: -moz-linear-gradient(to right, #a9f99d, #28a745);
    background: -webkit-linear-gradient(to right, #a9f99d, #28a745);
    background: -o-linear-gradient(to right, #a9f99d, #28a745);
    color: #050517;
    font-weight:600;
    border-color: #a9f99d;
}

/*--------------------------------------------------------------------- Audio */
#audio {
    color: #d3d5d7;
    padding-bottom: 20px;
}
.album-cover {
    width: 300px;
    margin: 15px auto;
    display: block;
    border-radius: 5px;
}
.album-title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}
.badge {
    background-color: #edbb5f;
    color: #050517;
    margin-top: 15px;
}
.album-description {
    font-size: 12px;
    width: 300px;
    margin: 10px auto;
}
.hr-styled {
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 25px;
}
.song-title {
    font-size: 14px;
    letter-spacing: 1px;
    color: #cecece;;
}
.audio {
    height: 30px;
    width: 270px;
    display: block;
    border-radius: 5px;
}
.btn-album-buy {
    margin-top: 50px;
    margin-left: 0;
    text-transform: uppercase;
}
.btn-more-albums {
    color: #d3d5d7;
    border-color: #d3d5d7;
}
/*--------------------------------------------------------------------- Video */
#video {
    padding-bottom: 40px;
}
.video-container {
    margin-bottom: 40px;
}
.video-title{
    font-size: 20px;
    margin-left: 5%;
    padding-left: 0;
}
.video-player {
    object-fit: inherit;
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0px auto;
}
/*-------------------------------------------------------------------- Photos */
#photos {
    background-color: #e9ecef;
}
.gallery-img {
    width: 320px;
    height: 220px;
    display: block;
    margin: auto;
}
.gallery-img-box {
    margin: 10px auto;
}
.photos-container {
    padding-bottom: 50px;
}
/*----------------------------------------------------------- Book Us Section */
.booking-container {
    width: 95%;
}
.form-content {
    padding: 20px;
}
.lead-styled {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 500;
}
.event-booking-text {
    font-size: 13px;
    word-spacing: 2px;
    margin-bottom: 40px;
}
.form-prompt-text {
    font-size: 14px;
}
.required-field {
    font-size: 12px;
}
/*------------------------------------------------------------ Footer Section */
.footer {
    color: #d3d5d7;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 5px;
}
.social-links a {
    text-decoration: none;
}
.fab {
    font-size: 18px;
    color: #d3d5d7;
    padding: 10px 10px;
    text-shadow: 1px 1px 5px #000;
}
.fab:hover{
    color: #a4a4a4;
}
.copyright {
    font-size: 12px;
    padding-top: 10px;
}
/*----------------------------------------------------- Media Queries Section */
@media screen and (min-width: 576px) {
    .btn-red, .btn-green {
        margin-top: 20px;
    }
    .booking-container {
        width: 80%;
    }
    .video-title {
        margin-left: 10%;
    }
    .video-player {
        width: 80%;
    }
    .gallery-img {
        width: 250px;
        height: 150px;
    }
}
@media screen and (min-width: 768px) {
    .about-text {
        font-size: 16px;
        line-height: 30px;
    }
    .member-name {
        margin-top: 20px;
    }
    .quote-wrapper {
        margin-top: 20px;
        display: -webkit-box;              
        display: -moz-box;         
        display: -ms-flexbox;      
        display: -webkit-flex;     
        display: flex;
        justify-content: center;
    }
    .quote {
       padding: 25px;
    }
    .album-title {
        text-align: left;
        font-size: 28px;
        padding-top: 15px;
    }
    .album-description {
        margin-left: 0;
        font-size: 14px;
    }
    .booking-container {
        width: 60%;
    }
     .video-title {
        margin-left: 15%;
    }
    .video-player {
        width: 70%;
    }
    .member-img {
        width: 70%;
    }
    .gallery-img {
        width: 280px;
        height: 180px;
    }
}
@media screen and (min-width: 992px) {
    .booking-container {
        width: 50%;
    }
     .video-title {
        margin-left: 20%;
    }
    .video-player {
        width: 60%;
    }
    .gallery-img {
        width: 350px;
        height: 250px;
    }
}
